<div id="content">
    <div id="header">
        <h1>Welcome to the Store Data Uploader (tm)</h1>
    </div>

    <div id="getting-started">
        <h1>Getting started</h1>

        <%= link_to "Uploads", uploads_path  %>

    </div>
</div>

