<div id="content">
    <div id="header">
        <h1>Welcome to the Store Data Uploader (tm)</h1>
    </div>

    <div>
        <h2>
            Click <%= link_to "here", uploads_path %> to get started.
        </h2>

        <p>
            You will be asked to authenticate with a Google-based OpenID.
        </p>
    </div>
</div>
