/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */


div.alert.alert-error {
    color: red;
}

div.alert.alert-info, div.alert.alert-notice {
    color: green;
}


table, th, td
{
    border: 1px solid black;
    border-collapse: collapse;
}

table th
{
    text-align: left;
}

table td, table th
{
    padding: 5px;
}

body {
    margin: 50px auto auto 100px;
}
