<div id="upload-page">

    <div id="content">
        <div id="header">
            <h1>Uploads</h1>

        </div>

        <div>
            <% flash.each do |key, value| %>
                <div class="alert alert-<%= key %>"><%= value %></div>
            <% end %>
        </div>
        <br/>

        <%= form_tag({:action => :process_upload}, :multipart => true) do %>
              <%= file_field_tag 'upload' %>
              <button type="submit" >Upload</button>
        <% end %>

    </div>

</div>
